html,
body {
    height: 100%;
    margin: 0px 100px 0px 100px;
}

body {
    background-image: linear-gradient( 0deg, rgb(245, 236, 117), #683a64);
    font-size: 20px;
}

#logotipo-abelha-topo {
    width: 300px;
    margin: auto;
    display: block;
    max-width: fit-content;
    height: auto;
}

p {
    text-align: justify;
}

.curiosidade {
    width: auto;
    padding: 15px 15px 15px 15px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #f3a41f;
    background-image: url('./imgs/favo-de-mel.png');
}

.curiosidade img {
    margin-right: 20px;
    float: left
}